//

// BASE STYLES

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: $black;
	color: #f28221;
}

// what is this???
.items {
	text-align: center;
}
// // // // // // //

// rename the below on all pages and this style. Somehing logical like, 'js-icon'
.js-icon {
	display: block;
	padding: 0 10px 0 10px;
	font-size: 100px;
}

ul {
	list-style: none;
	padding: 0;
}

// Home Page Button
.home {
	a {
		display: flex;
		width: 100px;
		height: 50px;
		justify-content: center;
		align-items: center;
		background-color: #465223;
		color: #f22872;
		border: 1px solid #a3d82f;
		text-transform: uppercase;
		&:link {
			text-decoration: none;
		}
	}
}

// end of BASE STYLES

// HOME PAGE

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
	font-size: 1.75em;
}

// AVATAR
//  this probably needs moving. Profile pic to be on about.html
.avatar {
	position: relative;
	animation-name: slide-avatar;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;

	img {
		border-radius: 50%;
	}
}

// end of Avatar

// Burger Animation

// BURGER

// 5

#burger {
	cursor: pointer;
	display: block;

	span {
		background: #f28221;
		display: block;
		width: 50px;
		height: 7px;
		margin-bottom: 10px;
		position: relative;
		top: 0;
		transition: all ease-out 0.4s;
	}
}

#burger-container.open span {
	&:nth-child(1) {
		transform: rotate(-45deg);
		top: 17px; // this equals span height + span margin
	}
	&:nth-child(2) {
		// width: 0;
		left: -50px;
		opacity: 0;
	}

	&:nth-child(3) {
		transform: rotate(45deg);
		top: -17px; // this equals span height + span margin
	}
}

// end of BURGER

.menu-btn {
	a {
		display: flex;
		max-width: 500px;
		height: 75px;
		background-color: #a3d82f;
		color: #f22872;
		border: 1px solid #666;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 10px;
		padding: 0;
		font-size: 1.5em;

		&:link {
			text-decoration: none;
		}
		&:hover {
			color: #f22872;
		}
	}
}

footer {
	text-align: center;
	margin: 50px auto;
}

// end of HOME PAGE
