// * {
// 	border: 1px solid red;
// }

// BASE STYLES

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: $black;
	color: #f28221;
}

// what is this??? // // // //
.items {
	text-align: center;
}
// // // // // // //

ul {
	list-style: none;
	padding: 0;
}

// end of BASE STYLES

// HOME PAGE

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 50px 0;
	font-size: 1.75em;

	a {
		&:link {
			text-decoration: none;
		}
		&:hover {
			color: #f22872;
		}
		&:visited {
			color: #f28221;
		}
		.js-icon {
			display: block;
			padding: 0 10px 0 10px;
			font-size: 100px;
		}
	}
}

// AVATAR
//  this probably needs moving. Profile pic to be on about.html
.avatar {
	position: relative;
	animation-name: slide-avatar;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;

	img {
		border-radius: 50%;
	}
}

// end of AVATAR

// BURGER MENU

#burger-container {
	margin-right: 10px;
}

#burger {
	cursor: pointer;
	display: block;

	span {
		background: #f28221;
		display: block;
		width: 50px;
		height: 7px;
		margin-bottom: 10px;
		position: relative;
		top: 0;
		transition: all ease-out 0.4s;
	}
}

#burger-container.open span {
	&:nth-child(1) {
		transform: rotate(-45deg);
		top: 17px; // this equals span height + span margin
	}
	&:nth-child(2) {
		// width: 0;
		left: -50px;
		opacity: 0;
	}

	&:nth-child(3) {
		transform: rotate(45deg);
		top: -17px; // this equals span height + span margin
	}
}

// end of BURGER MENU

.menu-btn {
	a {
		display: flex;
		max-width: 520px;
		height: 75px;
		background-color: #a3d82f;
		color: #f22872;
		border: 1px solid #666;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 10px;
		padding: 0;
		font-size: 1.5em;

		&:link {
			text-decoration: none;
		}
		&:hover {
			color: black;
		}
	}
}

footer {
	text-align: center;
	margin: 50px auto;

	a {
		&:link {
			text-decoration: none;
		}
		&:visited {
			color: #f28221;
		}
		&:hover {
			color: #f22872;
		}
	}
}

// end of HOME PAGE

// Local Storage
// check out code blocks <pre> and <code> for Bootstrap, may be able to style these better!?

pre {
	color: #f28221;
}

// end of Local Storage
